@charset "UTF-8";
/*!
 * ress.css • v1.2.2
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
html {
  box-sizing: border-box;
  overflow-y: scroll;
  /* All browsers without overlaying scrollbars */
  -webkit-text-size-adjust: 100%;
  /* iOS 8+ */
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
     # General elements
     # ================================================================= */
/* Add the correct display in iOS 4-7.*/
audio:not([controls]) {
  display: none;
  height: 0;
}

hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
}

/*
  * Correct `block` display not defined for any HTML5 element in IE 8/9
  * Correct `block` display not defined for `details` or `summary` in IE 10/11
  * and Firefox
  * Correct `block` display not defined for `main` in IE 11
  */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden],
template {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: 1px dotted;
  /* Add a bordered underline effect in all browsers */
  text-decoration: none;
  /* Remove text decoration in Firefox 40+ */
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
  -webkit-text-decoration-skip: objects;
  /* Remove gaps in links underline in iOS 8+ and Safari 8+ */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

b,
strong {
  font-weight: bolder;
  /* Correct style set to `bold` in Edge 12+, Safari 6.2+, and Chrome 18+ */
}

dfn {
  font-style: italic;
  /* Address styling not present in Safari and Chrome */
}

/* Address styling not present in IE 8/9 */
mark {
  background-color: #ff0;
  color: #000;
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
     # Forms
     # ================================================================= */
input {
  border-radius: 0;
}

/* Apply cursor pointer to button elements */
button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  cursor: pointer;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type="number"] {
  width: auto;
  /* Firefox 36+ */
}

[type="search"] {
  -webkit-appearance: textfield;
  /* Safari 8+ */
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Safari 8 */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule. */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: 0;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS and Safari */
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

[type="search"] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

/* # =================================================================
     # Specify media element style
     # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

svg:not(:root) {
  overflow: hidden;
  /* Internet Explorer 11- */
}

audio,
canvas,
progress,
video {
  display: inline-block;
  /* Internet Explorer 11+, Windows Phone 8.1+ */
}

/* # =================================================================
     # Accessibility
     # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~="screen"] {
    display: inherit;
  }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}

/* Specify the progress cursor of updating elements */
[aria-busy="true"] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

/* # =================================================================
     # Selection
     # ================================================================= */
/* Specify text selection background color and omit drop shadow */

::selection {
  background-color: #b3d4fc;
  /* Required when declaring ::selection */
  color: #000;
  text-shadow: none;
}

body {
  font-family: "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif;
}

p {
  font-size: 16px;
  font-size: 1rem;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 92.9%;
  }
}

@media screen and (max-width: 575px) {
  html {
    font-size: 85.7%;
  }
}

.modal {
  z-index: 100;
}

.header {
  z-index: 20;
}

.btn {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  position: relative;
  font-weight: bold;
}

.btn .btn-round {
  border-radius: 100vh;
}

.btn .btn-square {
  border-radius: 10px;
}

.btn .btn-square::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #000;
  z-index: -1;
  bottom: -4px;
  right: -4px;
}

.btn .btn-small {
  font-size: 12px;
  font-size: 0.75rem;
  padding: 8px 16px;
}

.btn .btn-large {
  font-size: 20px;
  font-size: 1.25rem;
  padding: 16.5px 90px;
}

.btn .btn-none {
  color: #000;
  background: #f6f3ec;
  border: 2px solid #000;
  position: relative;
}

.btn .btn-none::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #000;
  background: #f6f3ec;
  border-radius: 10px;
  z-index: -1;
  bottom: -4px;
  right: -4px;
}

.btn .btn-light {
  color: #000;
  background: #fff;
  border: 2px solid #000;
  position: relative;
}

.btn .btn-light::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #000;
  border-radius: 100vh;
  z-index: -1;
  bottom: -4px;
  right: -4px;
}

.btn .btn-dark {
  color: #fff;
  background: #000;
  border: 2px solid #000;
  position: relative;
}

.btn .btn-yellow {
  color: #000;
  background: #ffff00;
  border: 4px solid #000;
  position: relative;
}

.btn .btn-yellow::after {
  content: "";
  position: absolute;
  background: #ffff00;
  width: 100%;
  height: 100%;
  border: 4px solid #000;
  border-radius: 100vh;
  z-index: -1;
  bottom: -6px;
  right: -5px;
}

.header {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
  transition: .3s;
}

.header .header__inner {
  width: 90%;
  max-width: 1050px;
  display: block;
  margin: 0 auto;
  background: red;
  position: relative;
  background: #fff;
  /*--------  header__logo --------*/
  /*--------  header__left  --------*/
  /*--------  header__right  --------*/
  /*--------  header__sidebar  --------*/
  /*--------  header__gnav  --------*/
}

.header .header__inner .header__logo {
  position: relative;
  padding-top: 33px;
  padding-bottom: 30px;
  width: 250px;
  margin: 0 auto;
}

.header .header__inner .header__logo img {
  width: 100%;
}

.header .header__inner .header__left {
  position: absolute;
  top: 33px;
  left: 0;
}

.header .header__inner .header__left .btn {
  z-index: 999;
}

.header .header__inner .header__right {
  position: absolute;
  top: 33px;
  right: 51px;
}

.header .header__inner .header__right .btn {
  z-index: 999;
}

.header .header__inner .header__sidebar {
  position: absolute;
  top: 33px;
  right: 0;
  z-index: 9999;
}

.header .header__inner .header__sidebar a,
.header .header__inner .header__sidebar a:visited,
.header .header__inner .header__sidebar a:hover,
.header .header__inner .header__sidebar a:active {
  color: inherit;
  text-decoration: none;
}

.header .header__inner .header__sidebar .checkbox-toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 38px;
  height: 38px;
  opacity: 0;
}

.header .header__inner .header__sidebar .checkbox-toggle:checked + .hamburger > div {
  transform: rotate(135deg);
}

.header .header__inner .header__sidebar .checkbox-toggle:checked + .hamburger > div:before, .header .header__inner .header__sidebar .checkbox-toggle:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

.header .header__inner .header__sidebar .checkbox-toggle:checked + .hamburger > div:after {
  opacity: 0;
}

.header .header__inner .header__sidebar .checkbox-toggle:checked ~ .menu {
  pointer-events: auto;
  visibility: visible;
}

.header .header__inner .header__sidebar .checkbox-toggle:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: .75s;
}

.header .header__inner .header__sidebar .checkbox-toggle:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

.header .header__inner .header__sidebar .checkbox-toggle:hover + .hamburger {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.header .header__inner .header__sidebar .checkbox-toggle:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

.header .header__inner .header__sidebar .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 38px;
  height: 38px;
  padding: .5em 1em;
  padding: 9px;
  background: #000;
  border-radius: 100vh;
  cursor: pointer;
  transition: box-shadow 0.4s ease;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .header__inner .header__sidebar .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .header__inner .header__sidebar .hamburger > div:before, .header .header__inner .header__sidebar .hamburger > div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -6.33333px;
  left: 0;
  width: 100%;
  height: 2px;
  background: inherit;
  transition: all 0.4s ease;
}

.header .header__inner .header__sidebar .hamburger > div:after {
  top: 6.33333px;
}

.header .header__inner .header__sidebar .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  visibility: hidden;
  overflow: hidden;
  backface-visibility: hidden;
  outline: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .header__inner .header__sidebar .menu > div {
  width: 200vw;
  height: 200vw;
  color: #fff;
  background: #29abe2;
  border-radius: 50%;
  transition: all 0.4s ease;
  flex: none;
  transform: scale(0);
  backface-visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .header__inner .header__sidebar .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
  overflow-y: auto;
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .header__inner .header__sidebar .menu > div > div > ul {
  list-style: none;
  padding: 0 1em;
  margin: 0;
  display: block;
  max-height: 100vh;
}

.header .header__inner .header__sidebar .menu > div > div > ul > li {
  padding: 0;
  margin: 1em;
  font-size: 24px;
  font-size: 1.5rem;
  display: block;
}

.header .header__inner .header__sidebar .menu > div > div > ul > li > a {
  position: relative;
  display: inline;
  cursor: pointer;
  transition: color 0.4s ease;
}

.header .header__inner .header__sidebar .menu > div > div > ul > li > a:hover {
  color: #ffff00;
}

.header .header__inner .header__sidebar .menu > div > div > ul > li > a:hover:after {
  width: 100%;
}

.header .header__inner .header__sidebar .menu > div > div > ul > li > a:after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: -.15em;
  left: 0;
  width: 0;
  height: 2px;
  background: #ffff00;
  transition: width 0.4s ease;
}

.header .header__inner .header__sidebar .sidebar-menu__link {
  font-size: 24px;
  font-size: 1.5rem;
}

.header .header__inner .header__gnav .header__gnav-list {
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
  padding-bottom: 30px;
}

.header .header__inner .header__gnav .header__gnav-list .header__gnav-item .header__gnav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header .header__inner .header__gnav .header__gnav-list .header__gnav-item .header__gnav-link img {
  height: 44px;
  margin-bottom: 12px;
}

.header .header__inner .header__gnav .header__gnav-list .header__gnav-item .header__gnav-link p {
  font-size: 14px;
  font-size: 0.875rem;
  color: #000;
  font-weight: bold;
  letter-spacing: 2px;
}

.footer {
  width: 100%;
  background-color: #fff;
  color: #bfbfbf;
  text-align: center;
  padding: 30px 0;
}

.footer .footer__inner {
  /*--------  footer__logo --------*/
  /*--------  footer__copyright --------*/
}

.footer .footer__inner .footer__logo {
  width: 30vw;
  max-width: 155px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.footer .footer__inner .footer__logo img {
  width: 100%;
}

.footer .footer__inner .footer__copyright {
  font-size: 12px;
  font-size: 0.75rem;
}

@media screen and (max-width: 768px) {
  .header .header__inner .header__logo {
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 50vw;
  }
  .header .header__inner .header__left {
    display: none;
  }
  .header .header__inner .header__right {
    display: none;
  }
  .header .header__inner .header__sidebar {
    top: 20px;
  }
  .header .header__inner .header__gnav {
    display: none;
  }
  .footer {
    padding: 15px 0;
  }
}

.index-new {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.index-new .index-new__content-wrapper {
  width: 100%;
  max-width: 1200px;
  display: block;
  margin: 0 auto;
  position: relative;
  background: yellow;
}

.index-new .index-new__content-wrapper .index-new__content-box {
  width: 90%;
  max-width: 1050px;
  display: block;
  margin: 0 auto;
  background: red;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 1em;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  background: #f6f3ec;
  height: 3000px;
}

img {
  max-width: 100%;
  height: auto;
  backface-visibility: hidden;
  vertical-align: top;
}

::before, ::after {
  backface-visibility: hidden;
}

a {
  text-decoration: none;
  display: block;
}

ul {
  list-style: none;
}
/*# sourceMappingURL=style.css.map */