@charset "UTF-8";
// ============================================================
// ヘッダー
// ============================================================

.header{
  background:$white;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  box-shadow:0 4px 7px rgba(0, 0, 0, 0.1);
  transition: .3s;
  .header__inner{
    @include box;
    position: relative;
    background:$white;
    /*--------  header__logo --------*/
    .header__logo{
      position: relative;
      padding-top:33px;
      padding-bottom:30px;
      width:250px;
      margin:0 auto;
      img{
        width:100%;
      }
    }
    /*--------  header__left  --------*/
    .header__left{
      position:absolute;
      top:33px;
      left:0;
      .btn{
        z-index: 999;
      }
    }
    /*--------  header__right  --------*/
    .header__right{
      position:absolute;
      top:33px;
      right:38px + 13px;
      .btn{
        z-index: 999;
      }
    }
    /*--------  header__sidebar  --------*/
    .header__sidebar{
      a,
      a:visited,
      a:hover,
      a:active {
        color: inherit;
        text-decoration: none;
      }
      position: absolute;
      top: 33px;
      right: 0;
      z-index: 9999;
      
      .checkbox-toggle {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        cursor: pointer;
        width: $hamburger-menu-size;
        height: $hamburger-menu-size;
        opacity: 0;
        
        &:checked {
          & + .hamburger {
            > div {
              transform: rotate(135deg);
              
              &:before,
              &:after {
                top: 0;
                transform: rotate(90deg);
              }
              
              &:after {
                opacity: 0;
              }
            }
          }
          
          & ~ .menu  {
            pointer-events: auto;
            visibility: visible;
            
            > div {
              transform: scale(1);
              transition-duration: .75s;
              
              > div {
                opacity: 1;
                transition: opacity $anim-duration ease $anim-duration;
              }
            }
          }
        }
        
        &:hover + .hamburger {
          box-shadow: inset 0 0 10px rgba(0, 0, 0, .1);
        }
        
        &:checked:hover + .hamburger > div {
          transform: rotate(225deg);
        }
      }
      
      .hamburger {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        width: $hamburger-menu-size;
        height: $hamburger-menu-size;
        padding: .5em 1em;
        padding: 9px;
        background: $hamburger-menu-bg-color;
        border-radius: 100vh;
        cursor: pointer;
        transition: box-shadow $anim-duration ease;
        backface-visibility: hidden;
        display: flex;
      align-items: center;
      justify-content: center;
        
        > div {
          position: relative;
          flex: none;
          width: 100%;
          height: $hamburger-menu-line-height;
          background: $main-color;
          transition: all $anim-duration ease;
          display: flex;
          align-items: center;
          justify-content: center;
          
          &:before,
          &:after {
            content: '';
            position: absolute;
            z-index: 1;
            top: -$hamburger-menu-size / 6;
            left: 0;
            width: 100%;
            height: $hamburger-menu-line-height;
            background: inherit;
            transition: all $anim-duration ease;
          }
          
          &:after {
            top: $hamburger-menu-size / 6;
          }
        }
      }
      
      .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        visibility: hidden;
        overflow: hidden;
        backface-visibility: hidden;
        outline: 1px solid transparent;
        display: flex;
      align-items: center;
      justify-content: center;
        
        > div {
          width: 200vw;
          height: 200vw;
          color: $main-color;
          background: $content-bg-color;
          border-radius: 50%;
          transition: all $anim-duration ease;
          flex: none;
          transform: scale(0);
          backface-visibility: hidden;
          overflow: hidden;
          display: flex;
      align-items: center;
      justify-content: center;
          
          > div {
            text-align: center;
            max-width: 90vw;
            max-height: 100vh;
            opacity: 0;
            transition: opacity $anim-duration ease;
            overflow-y: auto;
            flex: none;
            display: flex;
      align-items: center;
      justify-content: center;
            
            > ul {
              list-style: none;
              padding: 0 1em;
              margin: 0;
              display: block;
              max-height: 100vh;
              
              > li {
                padding: 0;
                margin: 1em;
                @include fz(24);
                display: block;
                
                > a {
                  position: relative;
                  display: inline;
                  cursor: pointer;
                  transition: color $anim-duration ease;
                  
                  &:hover {
                    color: $hover-color;
                    
                    &:after {
                      width: 100%;
                    }
                  }
                  
                  &:after {
                    content: '';
                    position: absolute;
                    z-index: 1;
                    bottom: -.15em;
                    left: 0;
                    width: 0;
                    height: $hover-line-height;
                    background: $hover-color;
                    transition: width $anim-duration ease;
                  }
                }
              }
            }
          }
        }
      }
      .sidebar-menu__link{
        @include fz(24);
      }
    }
    /*--------  header__gnav  --------*/
    .header__gnav{
      .header__gnav-list{
        display: flex;
        justify-content: space-between;
        padding:0 60px;
        padding-bottom:30px;
        .header__gnav-item{
          .header__gnav-link{
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
              height:44px;
              margin-bottom:12px;
            }
            p{
              @include fz(14);
              color:$black;
              font-weight: bold;
              letter-spacing: 2px;
            }
          }
        }
      }
    }
  }
}