@charset "UTF-8";
// ============================================================
// hover effect
// ============================================================

.index-new__article-caption{
  overflow: hidden;
}
.index-new__article-caption img {
  transform: scale(1.1);
  transition: all .4s linear;
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -o-transition: all .4s linear;
}
.index-new__article-caption img:hover {
  transform: scale(1);
}