@charset "UTF-8";
// ============================================================
// ミックスインを定義するファイル
// ============================================================

// コンテンツ設定 ---------------------------------------------------
@mixin section{
  padding-top:100px;
  padding-bottom:100px;
  margin-top:100px;
  margin-bottom:100px;
}

@mixin wrapper{
  width:100%;
  max-width:$width-base;
  display: block;
  margin: 0 auto;
  position: relative;
}

@mixin box{
  width:90%;
  max-width: $width-main;
  display: block;
  margin:0 auto;
}

@mixin section-title {
  display: flex;
  align-items: center;
  margin-bottom:10px;
  img{
    z-index: 10;
    max-width:95px;
  }
  h2{
    @include fz(28);
    position: relative;
    padding-left:17px;
    color:$deep-dark;
    letter-spacing: 3px;
  }
  @include responsive(sm){
    img{
      max-width:95px;
      width:20vw;
      margin-bottom:-10px;
    }
  }
  
}

// z-index設定 ---------------------------------------------------
@mixin z-index($key) {
  z-index:map-get($layer,$key);
}
.modal{
  @include z-index(modal);
}
.header{
  @include z-index(header);
}

