@charset "UTF-8";
// ============================================================
// ミックスインを定義するファイル
// ============================================================

// コンテンツ設定 ---------------------------------------------------
@mixin section{
  padding-top:100px;
  padding-bottom:100px;
  margin-top:100px;
  margin-bottom:100px;
}

@mixin wrapper{
  width:100%;
  max-width:$width-base;
  display: block;
  margin: 0 auto;
  position: relative;
  background:yellow;
}

@mixin box{
  width:90%;
  max-width: $width-main;
  display: block;
  margin:0 auto;
  background:red;
}

// z-index設定 ---------------------------------------------------
@mixin z-index($key) {
  z-index:map-get($layer,$key);
}
.modal{
  @include z-index(modal);
}
.header{
  @include z-index(header);
}

