@charset "UTF-8";
// ============================================================
// responsive xs
// ============================================================

@include responsive(xs){
  body{
    overflow: hidden;
  }
}