@charset "UTF-8";
// ============================================================
// responsive sm
// ============================================================

@include responsive(sm){
  .sm{
    display: block;
  }
  .md{
    display: none !important;
  }
  
  .header{
    .header__inner{
      .header__logo{
        padding-top:20px;
        padding-bottom: 20px;
        max-width: 50vw;
      }
      .header__left{
        display: none;
      }
      .header__right{
        display: none;
      }
      .header__sidebar{
        top:20px;
      }
      .header__gnav{
        display: none;
      }

    }
  }
  .footer{
    padding: 15px 0;
  }
  // index-new ---------------------------------------------------
  .index-new{
    .index-new__article--sm{
      .index-new__article-item--sm-first{
        width:100%;
        display: flex;
        flex-direction: column;
        border-radius:6px;
        box-shadow:8px 8px  #97907e30;
        position: relative;
        .index-new__article-caption{
          width:100%;
          max-height:300px;
          margin-bottom:0;
          margin-top:0;
          border-radius: 6px 6px 0 0;
          img{
            object-fit: cover;
          }
        }
        .index-new__article-text{
          width:100%;
          margin-left: 0;
          background:$white;
          box-shadow:none;
          border-radius:0 0 6px 6px;
          padding-left:30px; 
          padding-right:30px;
          padding-top:30px;
          padding-bottom:30px;
          z-index: 999;
          position: relative;
          .article-tag{
            background:$blue;
            border-radius: 100vh;
            display: inline-block;
            margin-bottom:20px;
            position:absolute;
            top:0;
            left:0;
            transform: translate(30px, -50%);
            z-index: 999;
            a{
              color:$white;
              @include fz(14);
              padding:5px 15px;
            }
          }
          .article-title{
            position: relative;
            margin-bottom:10px;
            a{
              color:$dark;
              @include fz(20);
              font-weight: bold;
              line-height: 1.8;
            }
          }
          .article-content{
            margin-bottom:20px;
            a{
              color:$dark;
              @include fz(14);
              font-weight: normal;
              line-height: 2;
            }
          }
          .article-date{
            display: flex;
            justify-content: flex-end;
            a{
              @include fz(14);
              color:$gray;
              .fa-clock{
                margin-right:9px;
              }
            }
          }
        }
        
      }
      .swiper-container{
        padding-top:40px;
        padding-bottom:40px;
        padding-right:30px;
        .swiper-wrapper{
          .index-new__article-item--sm{
            width:100%;
            display: flex;
            flex-direction: column;
            border-radius:6px;
            box-shadow:8px 8px  #97907e30;
            position: relative;
            .index-new__article-caption{
              width:100%;
              margin-bottom:0;
              margin-top:0;
              border-radius: 6px 6px 0 0;
              img{
                object-fit: cover;
                width:100%;
                height:150px;
              }
            }
            .index-new__article-text{
              width:100%;
              margin-left: 0;
              background:$white;
              box-shadow:none;
              border-radius:0 0 6px 6px;
              padding-left:20px; 
              padding-right:20px;
              padding-top:24px;
              padding-bottom:20px;
              z-index: 999;
              position: relative;
              .article-tag{
                background:$blue;
                border-radius: 100vh;
                display: inline-block;
                margin-bottom:20px;
                position:absolute;
                top:0;
                left:0;
                transform: translate(15px, -50%);
                z-index: 999;
                a{
                  color:$white;
                  @include fz(12);
                  padding:5px 15px;
                }
              }
              .article-title{
                position: relative;
                margin-bottom:10px;
                a{
                  color:$dark;
                  @include fz(16);
                  font-weight: bold;
                  line-height: 1.8;
                }
              }
              .article-content{
                margin-bottom:20px;
                a{
                  color:$dark;
                  @include fz(14);
                  font-weight: normal;
                  line-height: 2;
                }
              }
              .article-date{
                display: flex;
                justify-content: flex-end;
                a{
                  @include fz(14);
                  color:$gray;
                  .fa-clock{
                    margin-right:9px;
                  }
                }
              }
            }
          }
        }
      }
      .article__new-icon{
        &::after{
          content:"";
          position: absolute;
          background:url(../assets/img/icon_07.png);
          background-size: cover;
          width:45px;
          height:45px;
          top:0;
          right:0;
          transform: translate(30%,-30%);
          z-index: 999;
        }
      }
      
      
    }
    
  }

  // recommend-tag__section ---------------------------------------------------
  .recommend-tag__section{
    @include section;
    background:$dark-beige;
    .section__content-wrapper{
      @include wrapper;
      .section__content-box{
        @include box;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .section-title__wrap{
          display: flex;
          justify-content: center;
          align-items: center;
          width:100%;
          .section-title__img{
            z-index: 999;
            max-width:95px;
          }
          .section-title__text{
            @include fz(24);
            position: relative;
            padding-left:0;
            color:$dark;
            letter-spacing: 2px;
          }
        }
        .recommend-tag__list{
          width:80%;
          display: flex;
          flex-wrap: wrap;
          .recommend-tag__item{
            display: flex;
            align-items: center;
            justify-content: center;
            width:28%;
            margin-bottom:12px;
            &:nth-child(-n + 3){
              margin-top:12px;
            }
            .article__tag{
              background:$blue;
              border-radius: 100vh;
              z-index: 999;
              .article__tag__link{
                color:$white;
                @include fz(16);
                padding:4px 17px;
                width:100%;
                height: 100%;
                text-align: center;
                }
              }
          }
          
        }
      }
    
  }
  }

  // index-popular ---------------------------------------------------
  .index-popular{
    .index-popular__content-wrapper{
      .index-popular__content-box{
        .index-popular__title{
         @include section-title;
         img{
           width:144px;
           margin-left: -30px;
         }
        }
        .index-popular__article{
          margin-bottom:40px;
          .index-popular__article-list{
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
          }
          .index-popular__article-item:first-child{
            width:100%;
            margin-bottom:50px;
            display: flex;
            flex-direction: column;
            position: relative;
            box-shadow:8px 8px  #97907e30;
            border-radius: 6px;
            .index-popular__article-caption{
              width:100%;
              margin-bottom:0;
              margin-top:0;
              a{
                border-radius: 6px 6px 0 0 ;
                overflow: hidden;
                box-shadow:none;
              }
              img{
                width:100%;
                border-radius:0;
              }
            }
            .index-popular__article-text{
              width:100%;
              margin-left: 0;
              background:$white;
              box-shadow:none;
              border-radius: 6px;
              padding-left:25px; 
              padding-right:25px;
              padding-top:30px;
              padding-bottom:25px;
              z-index: 999;
              position: relative;
              .article-tag{
                position:absolute;
                top:0;
                left:0;
                transform: translate(30px, -50%);
                z-index: 999;
                a{
                  color:$white;
                  @include fz(12);
                  padding:5px 15px;
                }
              }
              .article-title{
                position: relative;
                margin-bottom:15px;
                a{
                  color:$dark;
                  @include fz(20);
                  font-weight: bold;
                  line-height: 1.8;
                }
              }
              .article-content{
                margin-bottom:20px;
                a{
                  color:$dark;
                  @include fz(14);
                  font-weight: normal;
                  line-height: 2;
                }
              }
              .article-date{
                display: flex;
                justify-content: flex-end;
                a{
                  @include fz(14);
                  color:$gray;
                  .fa-clock{
                    margin-right:9px;
                  }
                }
              }
            }
            
          }
          .index-popular__article-item:not(:first-child){
            position:relative;
            width:100%;
            border-radius:6px;
            background:$white;
            box-shadow: 8px 8px #97907e30;
            display: flex;
            flex-direction: row;
            align-items: center;
            &:not(:last-child),&:not(:nth-child(3n+1)){
              margin-right:0;
              margin-bottom:20px;
            }
            .index-popular__article-caption{
              border-radius: 6px 6px 0 0;
              overflow: hidden;
              padding:15px;
              padding-right:0;
              background:$white;
              width:30%;
              a{
                border-radius: 6px;
                overflow: hidden;

              }
              img{
                width:100%;
                height:100px;
                object-fit: cover;
              }
            }
            .index-popular__article-text{
              position: relative;
              padding-left:15px; 
              padding-right:20px;
              padding-top:15px;
              padding-bottom:15px;
              width:70%;
              .article-tag{
                background:$blue;
                border-radius: 100vh;
                display: inline-block;
                position: static;
                top:0;
                left:0;
                transform: translate(0,0);
                z-index: 999;
                margin-bottom:8px;
                a{
                  color:$white;
                  @include fz(12);
                  padding:5px 15px;
                }
              }
              .article-title{
                position: relative;
                margin-bottom:5px;
                a{
                  color:$dark;
                  @include fz(16);
                  font-weight: bold;
                  line-height: 1.8;
                }
              }
              .article-content{
                display: none;
                margin-bottom:40px;
                a{
                  color:$dark;
                  @include fz(14);
                  font-weight: normal;
                  line-height: 2;
                }
              }
              .article-date{
                display: flex;
                justify-content: flex-end;
                a{
                  @include fz(14);
                  color:$gray;
                  .fa-clock{
                    margin-right:9px;
                  }
                }
              }
              
            }
          }
          .article__new-icon{
            &::after{
              content:"";
              position: absolute;
              background:url(../assets/img/icon_07.png);
              background-size: cover;
              width:45px;
              height:45px;
              top:0;
              right:0;
              transform: translate(30%,-30%);
              z-index: 999;
            }
          }
        }
        .index-popular__more-btn{
          display: flex;
          justify-content: center;
        }
      }
    }
    
  }

  // index-interview ---------------------------------------------------
  .index-interview{
    .index-interview__content-wrapper{
      .index-interview__content-box{
        .index-interview__title{
         @include section-title;
         img{
           width:144px;
           margin-left: -30px;
         }
        }
        .index-interview__article{
          margin-bottom:40px;
          .index-interview__article-list{
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
          }
          .index-interview__article-item:first-child{
            width:100%;
            margin-bottom:50px;
            display: flex;
            flex-direction: column;
            position: relative;
            box-shadow:8px 8px  #97907e30;
            border-radius: 6px;
            .index-interview__article-caption{
              width:100%;
              margin-bottom:0;
              margin-top:0;
              a{
                border-radius: 6px 6px 0 0 ;
                overflow: hidden;
                box-shadow:none;
              }
              img{
                width:100%;
                border-radius:0;
              }
            }
            .index-interview__article-text{
              width:100%;
              margin-left: 0;
              background:$white;
              box-shadow:none;
              border-radius: 6px;
              padding-left:25px; 
              padding-right:25px;
              padding-top:30px;
              padding-bottom:25px;
              z-index: 999;
              position: relative;
              .article-tag{
                position:absolute;
                top:0;
                left:0;
                transform: translate(30px, -50%);
                z-index: 999;
                a{
                  color:$white;
                  @include fz(12);
                  padding:5px 15px;
                }
              }
              .article-title{
                position: relative;
                margin-bottom:15px;
                a{
                  color:$dark;
                  @include fz(20);
                  font-weight: bold;
                  line-height: 1.8;
                }
              }
              .article-content{
                margin-bottom:20px;
                a{
                  color:$dark;
                  @include fz(14);
                  font-weight: normal;
                  line-height: 2;
                }
              }
              .article-date{
                display: flex;
                justify-content: flex-end;
                a{
                  @include fz(14);
                  color:$gray;
                  .fa-clock{
                    margin-right:9px;
                  }
                }
              }
            }
            
          }
          .index-interview__article-item:not(:first-child){
            position:relative;
            width:100%;
            border-radius:6px;
            background:$white;
            box-shadow: 8px 8px #97907e30;
            display: flex;
            flex-direction: row;
            align-items: center;
            &:not(:last-child),&:not(:nth-child(3n+1)){
              margin-right:0;
              margin-bottom:20px;
            }
            .index-interview__article-caption{
              border-radius: 6px 6px 0 0;
              overflow: hidden;
              padding:15px;
              padding-right:0;
              background:$white;
              width:30%;
              a{
                border-radius: 6px;
                overflow: hidden;

              }
              img{
                width:100%;
                height:100px;
                object-fit: cover;
              }
            }
            .index-interview__article-text{
              position: relative;
              padding-left:15px; 
              padding-right:20px;
              padding-top:15px;
              padding-bottom:15px;
              width:70%;
              .article-tag{
                background:$blue;
                border-radius: 100vh;
                display: inline-block;
                position: static;
                top:0;
                left:0;
                transform: translate(0,0);
                z-index: 999;
                margin-bottom:8px;
                a{
                  color:$white;
                  @include fz(12);
                  padding:5px 15px;
                }
              }
              .article-title{
                position: relative;
                margin-bottom:5px;
                a{
                  color:$dark;
                  @include fz(16);
                  font-weight: bold;
                  line-height: 1.8;
                }
              }
              .article-content{
                display: none;
                margin-bottom:40px;
                a{
                  color:$dark;
                  @include fz(14);
                  font-weight: normal;
                  line-height: 2;
                }
              }
              .article-date{
                display: flex;
                justify-content: flex-end;
                a{
                  @include fz(14);
                  color:$gray;
                  .fa-clock{
                    margin-right:9px;
                  }
                }
              }
              
            }
          }
          .article__new-icon{
            &::after{
              content:"";
              position: absolute;
              background:url(../assets/img/icon_07.png);
              background-size: cover;
              width:45px;
              height:45px;
              top:0;
              right:0;
              transform: translate(30%,-30%);
              z-index: 999;
            }
          }
        }
        .index-interview__more-btn{
          display: flex;
          justify-content: center;
        }
      }
    }
    
  }

  // link-btn__section ---------------------------------------------------
  .link-btn__section{
    .link-btn__list{
      .link-btn__item{
        &:nth-child(1){
          margin-right:0;
          margin-bottom:25px;
        }
      }
    
    }
  }

  // seminar__section ---------------------------------------------------
  .seminar__section{
    @include section;
    .section__content-wrapper{
      @include wrapper;
      .section__content-box{
        @include box;
        .seminar__title{
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom:25px;
          h2{
            @include fz(28);
            position: relative;
            color:$deep-dark;
            letter-spacing: 3px;
            position: relative;
            display: inline-block;
            &::after{
              content:"";
              position:absolute;
              top:0;
              left:0;
              width:95px;
              height:50px;
              background:url(../assets/img/icon_08.png) no-repeat;
              background-size: contain;
              transform: translate(0,-50px);
          }
        }
        }
        .seminar__image{
          display: flex;
          justify-content: center;
          margin-bottom:50px;
          transform: translateX(0);
          margin-bottom:20px;
          img{
            width:100%;
            max-width: 400px;
          }
        }
        .seminar__time-table-list{
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          padding:0 15px;
          margin-bottom:20px;
          .seminar__time-table-item{
            width: calc((100% - 15px)/2);
            &:not(:nth-child(n + 3)){
              margin-bottom:15px;
            }
            a{
              width:100%;
              font-family: $notoSansCJK;
              @include fz(22);
              padding: 10px 0;
              text-align: center;
            }
          }
        }
        .seminar__more-btn{
          display: flex;
          justify-content: center;
        }
      }
    
  }
  }

  // presents__section ---------------------------------------------------
.presents__section{
  @include section;
  background:$white;
  .section__content-wrapper{
    @include wrapper;
    .section__content-box{
      @include box;
      .section-title__wrap{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom:40px;
        .section-title__text{
          @include fz(28);
        }
      }
      .presents__list{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .presents__item{
          width:100%;
          padding-left: 32px;
          padding-right:32px;
          padding-bottom:32px;
          border:2px solid $black;
          border-radius: 6px;
          margin-bottom:20px;
        }
      }
    }
  }
 
  
}

// contact__section ---------------------------------------------------
.contact__section{
  @include section;
  .section__content-wrapper{
    @include wrapper;
    .section__content-box{
      @include box;
      max-width:768px;
      position: relative;
      .section-title__wrap{
        margin-bottom:20px;
        h2{
          text-align: center;
        }
      }
      .section__backimg-list{
        display: flex;
        justify-content: center;
        margin-bottom:20px;
        li:nth-child(1){
          position: static;
          top:30%;
          left:0;
          margin-right:50px;
          img{
            width:150px;
            
          }
        }
        li:nth-child(2){
          position: static;
          top:30%;
          right:0;
          img{
            width:150px;
            
          }
        }
      }
      .contact__text-box{
        position: relative;
        margin-bottom:40px;
        
        p{
          @include fz(14);
          text-align: center;
          color:$dark;
          line-height: 2;
        }
      }
      .btn-contact{
        display: flex;
        justify-content: center;
        .btn{
          a{
            padding-left: 15vw;
            padding-right: 15vw;
          }
        }
      }
    }
  }
 
  
}

  
}