@charset "UTF-8";
// ============================================================
// responsive md
// ============================================================

@include responsive(md){
  .sm{
    display: none !important;
  }
}