@charset "UTF-8";
// ============================================================
// トップページレイアウト
// ============================================================

// index-new ---------------------------------------------------
.index-new{
  @include section;
  .index-new__content-wrapper{
    @include wrapper;
  }
  .index-new__content-box{
    @include box;
  }
  .index-new__title{
   @include section-title;
   img{
     width:95px;
   }
  }
  .index-new__article--md{
    margin-bottom:40px;
    .index-new__article-list{
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
    .index-new__article-item:first-child{
      width:100%;
      margin-bottom:50px;
      display: flex;
      flex-direction: row;
      position: relative;
      .index-new__article-caption{
        width:calc((50% + 25px));
        border-radius: 6px;
        margin-bottom:20px;
        margin-top:-20px;
        a{
          border-radius: 6px;
          overflow: hidden;
          box-shadow:0 4px 7px rgba(0,0,0,0.1);
        }
        img{
          width:100%;
          border-radius: 6px;
        }
      }
      .index-new__article-text{
        width:calc((50% + 25px));
        margin-left: -30px;
        background:$white;
        box-shadow:8px 8px  #97907e30;
        border-radius: 6px;
        padding-left:30px; 
        padding-right:34px;
        padding-top:50px;
        padding-bottom:54px;
        z-index: 999;
        position: relative;
        .article-tag{
          background:$blue;
          border-radius: 100vh;
          display: inline-block;
          margin-bottom:20px;
          a{
            color:$white;
            @include fz(12);
            padding:8px 21px;
          }
        }
        .article-title{
          position: relative;
          margin-bottom:30px;
          a{
            color:$dark;
            @include fz(20);
            font-weight: bold;
            line-height: 2;
          }
        }
        .article-content{
          margin-bottom:45px;
          a{
            color:$dark;
            @include fz(14);
            font-weight: normal;
            line-height: 2;
          }
        }
        .article-date{
          display: flex;
          justify-content: flex-end;
          a{
            @include fz(14);
            color:$gray;
            .fa-clock{
              margin-right:9px;
            }
          }
        }
      }
      
    }
    .index-new__article-item:not(:first-child){
      position:relative;
      width: calc((100% - 90px) / 3);
      border-radius:6px;
      background:$white;
      box-shadow: 8px 8px #97907e30;
      &:not(:last-child),&:not(:nth-child(3n+1)){
        margin-right:45px;
      }
      .index-new__article-caption{
        border-radius: 6px 6px 0 0;
        overflow: hidden;
        img{
          width:100%;
          height: 200px;
          object-fit: cover;
        }
      }
      .index-new__article-text{
        position: relative;
        padding-left:30px; 
        padding-right:34px;
        padding-top:30px;
        padding-bottom:32px;
        .article-tag{
          background:$blue;
          border-radius: 100vh;
          display: inline-block;
          position: absolute;
          top:0;
          left:0;
          transform: translate(30px,-50%);
          z-index: 999;
          a{
            color:$white;
            @include fz(12);
            padding:8px 21px;
          }
        }
        .article-title{
          position: relative;
          margin-bottom:20px;
          a{
            color:$dark;
            @include fz(16);
            font-weight: bold;
            line-height: 2;
          }
        }
        .article-content{
          margin-bottom:40px;
          a{
            color:$dark;
            @include fz(14);
            font-weight: normal;
            line-height: 2;
          }
        }
        .article-date{
          display: flex;
          justify-content: flex-end;
          a{
            @include fz(14);
            color:$gray;
            .fa-clock{
              margin-right:9px;
            }
          }
        }
        
      }
    }
    .article__new-icon{
      &::after{
        content:"";
        position: absolute;
        background:url(../assets/img/icon_07.png);
        background-size: cover;
        width:58px;
        height:58px;
        top:0;
        right:0;
        transform: translate(30%,-30%);
        z-index: 999;
      }
    }
  }
  .index-new__more-btn{
    display: flex;
    justify-content: center;
  }
  
}

// index-popular ---------------------------------------------------
.index-popular{
  @include section;
  .index-popular__content-wrapper{
    @include wrapper;
  }
  .index-popular__content-box{
    @include box;
  }
  .index-popular__title{
   @include section-title;
   img{
     width:144px;
     margin-left: -30px;
   }
  }
  .index-popular__article{
    margin-bottom:40px;
    .index-popular__article-list{
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
    .index-popular__article-item:first-child{
      width:100%;
      margin-bottom:50px;
      display: flex;
      flex-direction: row;
      position: relative;
      .index-popular__article-caption{
        width:calc((50% + 25px));
        margin-bottom:20px;
        margin-top:-20px;
        a{
          border-radius: 6px;
          overflow: hidden;
          box-shadow:0 4px 7px rgba(0,0,0,0.1);
        }
        img{
          width:100%;
          border-radius: 6px;
        }
      }
      .index-popular__article-text{
        width:calc((50% + 25px));
        margin-left: -30px;
        background:$white;
        box-shadow:8px 8px  #97907e30;
        border-radius: 6px;
        padding-left:30px; 
        padding-right:34px;
        padding-top:50px;
        padding-bottom:54px;
        z-index: 999;
        position: relative;
        .article-tag{
          background:$blue;
          border-radius: 100vh;
          display: inline-block;
          margin-bottom:20px;
          a{
            color:$white;
            @include fz(12);
            padding:8px 21px;
          }
        }
        .article-title{
          position: relative;
          margin-bottom:30px;
          a{
            color:$dark;
            @include fz(20);
            font-weight: bold;
            line-height: 2;
          }
        }
        .article-content{
          margin-bottom:45px;
          a{
            color:$dark;
            @include fz(14);
            font-weight: normal;
            line-height: 2;
          }
        }
        .article-date{
          display: flex;
          justify-content: flex-end;
          a{
            @include fz(14);
            color:$gray;
            .fa-clock{
              margin-right:9px;
            }
          }
        }
      }
      
    }
    .index-popular__article-item:not(:first-child){
      position:relative;
      width: calc((100% - 90px) / 3);
      border-radius:6px;
      background:$white;
      box-shadow: 8px 8px #97907e30;
      &:not(:last-child),&:not(:nth-child(3n+1)){
        margin-right:45px;
      }
      .index-popular__article-caption{
        border-radius: 6px 6px 0 0;
        overflow: hidden;
        img{
          width:100%;
          height: 200px;
          object-fit: cover;
        }
      }
      .index-popular__article-text{
        position: relative;
        padding-left:30px; 
        padding-right:34px;
        padding-top:30px;
        padding-bottom:32px;
        .article-tag{
          background:$blue;
          border-radius: 100vh;
          display: inline-block;
          position: absolute;
          top:0;
          left:0;
          transform: translate(30px,-50%);
          z-index: 999;
          a{
            color:$white;
            @include fz(12);
            padding:8px 21px;
          }
        }
        .article-title{
          position: relative;
          margin-bottom:20px;
          a{
            color:$dark;
            @include fz(16);
            font-weight: bold;
            line-height: 2;
          }
        }
        .article-content{
          margin-bottom:40px;
          a{
            color:$dark;
            @include fz(14);
            font-weight: normal;
            line-height: 2;
          }
        }
        .article-date{
          display: flex;
          justify-content: flex-end;
          a{
            @include fz(14);
            color:$gray;
            .fa-clock{
              margin-right:9px;
            }
          }
        }
        
      }
    }
    .article__new-icon{
      &::after{
        content:"";
        position: absolute;
        background:url(../assets/img/icon_07.png);
        background-size: cover;
        width:58px;
        height:58px;
        top:0;
        right:0;
        transform: translate(30%,-30%);
        z-index: 999;
      }
    }
  }
  .index-popular__more-btn{
    display: flex;
    justify-content: center;
  }
  
}

// index-interview ---------------------------------------------------
.index-interview{
  @include section;
  .index-interview__content-wrapper{
    @include wrapper;
  }
  .index-interview__content-box{
    @include box;
  }
  .index-interview__title{
   @include section-title;
   img{
     width:144px;
     margin-left: -30px;
   }
  }
  .index-interview__article{
    margin-bottom:40px;
    .index-interview__article-list{
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
    .index-interview__article-item:first-child{
      width:100%;
      margin-bottom:50px;
      display: flex;
      flex-direction: row;
      position: relative;
      .index-interview__article-caption{
        width:calc((50% + 25px));
        margin-bottom:20px;
        margin-top:-20px;
        a{
          border-radius: 6px;
          overflow: hidden;
          box-shadow:0 4px 7px rgba(0,0,0,0.1);
        }
        img{
          width:100%;
          border-radius: 6px;
        }
      }
      .index-interview__article-text{
        width:calc((50% + 25px));
        margin-left: -30px;
        background:$white;
        box-shadow:8px 8px  #97907e30;
        border-radius: 6px;
        padding-left:30px; 
        padding-right:34px;
        padding-top:50px;
        padding-bottom:54px;
        z-index: 999;
        position: relative;
        .article-tag{
          background:$blue;
          border-radius: 100vh;
          display: inline-block;
          margin-bottom:20px;
          a{
            color:$white;
            @include fz(12);
            padding:8px 21px;
          }
        }
        .article-title{
          position: relative;
          margin-bottom:30px;
          a{
            color:$dark;
            @include fz(20);
            font-weight: bold;
            line-height: 2;
          }
        }
        .article-content{
          margin-bottom:45px;
          a{
            color:$dark;
            @include fz(14);
            font-weight: normal;
            line-height: 2;
          }
        }
        .article-date{
          display: flex;
          justify-content: flex-end;
          a{
            @include fz(14);
            color:$gray;
            .fa-clock{
              margin-right:9px;
            }
          }
        }
      }
      
    }
    .index-interview__article-item:not(:first-child){
      position:relative;
      width: calc((100% - 90px) / 3);
      border-radius:6px;
      background:$white;
      box-shadow: 8px 8px #97907e30;
      &:not(:last-child),&:not(:nth-child(3n+1)){
        margin-right:45px;
      }
      .index-interview__article-caption{
        border-radius: 6px 6px 0 0;
        overflow: hidden;
        img{
          width:100%;
          height: 200px;
          object-fit: cover;
        }
      }
      .index-interview__article-text{
        position: relative;
        padding-left:30px; 
        padding-right:34px;
        padding-top:30px;
        padding-bottom:32px;
        .article-tag{
          background:$blue;
          border-radius: 100vh;
          display: inline-block;
          position: absolute;
          top:0;
          left:0;
          transform: translate(30px,-50%);
          z-index: 999;
          a{
            color:$white;
            @include fz(12);
            padding:8px 21px;
          }
        }
        .article-title{
          position: relative;
          margin-bottom:20px;
          a{
            color:$dark;
            @include fz(16);
            font-weight: bold;
            line-height: 2;
          }
        }
        .article-content{
          margin-bottom:40px;
          a{
            color:$dark;
            @include fz(14);
            font-weight: normal;
            line-height: 2;
          }
        }
        .article-date{
          display: flex;
          justify-content: flex-end;
          a{
            @include fz(14);
            color:$gray;
            .fa-clock{
              margin-right:9px;
            }
          }
        }
        
      }
    }
    .article__new-icon{
      &::after{
        content:"";
        position: absolute;
        background:url(../assets/img/icon_07.png);
        background-size: cover;
        width:58px;
        height:58px;
        top:0;
        right:0;
        transform: translate(30%,-30%);
        z-index: 999;
      }
    }
  }
  .index-interview__more-btn{
    display: flex;
    justify-content: center;
  }
  
}