@charset "UTF-8";
// ============================================================
// トップページレイアウト
// ============================================================

// index-new ---------------------------------------------------
.index-new{
  @include section;
  .index-new__content-wrapper{
    @include wrapper;
    .index-new__content-box{
      @include box;


    }
  }
}