@import "../sass/base/reset";
@import "../sass/base/setting";
@import "../sass/base/main";
@import "../sass/base/mixin";
@import "../sass/base/hover";

@import "../sass/parts/header";
@import "../sass/parts/footer";
@import "../sass/parts/module";


@import "../sass/pages/top-page";
@import "../sass/pages/archive-page";
@import "../sass/pages/single-page";

@import "../sass/base/responsive-md";
@import "../sass/base/responsive-sm";
@import "../sass/base/responsive-xs";

.menu{
  display: flex;
  position:absolute;
  bottom:-30px;
  a{
    margin-right:15px;
  }
}

.active{
  position: fixed;
}