@import "_reset.scss";
@import "_setting.scss";
@import "_main.scss";
@import "_mixin.scss";
@import "_module.scss";


*{
  box-sizing: border-box;
}

body{
  font-size: 1em;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  min-height:100vh;
  position: relative;
}

img{
  max-width: 100%;
  height:auto;
  backface-visibility: hidden;
  vertical-align: top;
}

::before,::after{
  backface-visibility: hidden;
}

a{
  text-decoration: none;
  display: block;
}

ul{
  list-style: none;
}


@include responsive(xs){
  body{
  }
}
@include responsive(md){
  body{
  }
}