@import "_reset.scss";
@import "_setting.scss";
@import "_main.scss";
@import "_mixin.scss";
@import "_module.scss";
@import "_hover.scss";

@import "_header.scss";
@import "_footer.scss";

@import "_responsive-md.scss";
@import "_responsive-sm.scss";
@import "_responsive-xs.scss";

@import "_top-page.scss";


*{
  box-sizing: border-box;
}

body{
  font-size: 1em;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  min-height:100vh;
  position: relative;
  background:$beige;
}

img{
  max-width: 100%;
  height:auto;
  backface-visibility: hidden;
  vertical-align: top;
}

::before,::after{
  backface-visibility: hidden;
}

a{
  text-decoration: none;
  display: block;
}

ul{
  list-style: none;
}

