@charset "UTF-8";
// ============================================================
// hover effect
// ============================================================


.header__logo,
.article-title,
.article-content,
.article-date,
.article__title__link,
.article__content__link,
.article__date__link

  {
    @include hover-op;
  }
  



.index-new__article-caption,
.index-popular__article-caption,
.index-interview__article-caption,
.archive-category__article-caption,
.archive-other__article-caption,
.single-other__article-caption{
  overflow: hidden;
}
.index-new__article-caption img,
.index-popular__article-caption img,
.index-interview__article-caption img,
.archive-category__article-caption img,
.archive-other__article-caption img,
.single-other__article-caption img,
.header__gnav-link img{
  transform: scale(1.1);
  transition: all .4s linear;
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -o-transition: all .4s linear;
}
.index-new__article-caption img:hover,
.index-popular__article-caption img:hover,
.index-interview__article-caption img:hover,
.archive-category__article-caption img:hover,
.archive-other__article-caption img:hover,
.single-other__article-caption img:hover{
  transform: scale(1);
}

.header__gnav-item:hover{
  .header__gnav-link img{
    transform: scale(1);
  }
}