@charset "UTF-8";
// ============================================================
// responsive xs
// ============================================================

@include responsive(xs){
  body{
    overflow: hidden;
  }

    // recommend-tag__section ---------------------------------------------------
    .recommend-tag__section{
      @include section;
      background:$dark-beige;
      .section__content-wrapper{
        @include wrapper;
        .section__content-box{
          @include box;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          .section-title__wrap{
            display: flex;
            justify-content: center;
            align-items: center;
            width:100%;
            margin-bottom:20px;
            .section-title__img{
              z-index: 999;
              max-width:95px;
            }
            .section-title__text{
              @include fz(24);
              position: relative;
              padding-left:0;
              color:$dark;
              letter-spacing: 2px;
            }
          }
          .recommend-tag__list{
            width:90%;
            display: flex;
            flex-wrap: wrap;
            .recommend-tag__item{
              display: flex;
              align-items: center;
              justify-content: center;
              width:45%;
              margin-bottom:12px;
              &:nth-child(-n + 3){
                margin-top:0;
              }
              .article__tag{
                background:$blue;
                border-radius: 100vh;
                z-index: 999;
                .article__tag__link{
                  color:$white;
                  @include fz(16);
                  padding:4px 17px;
                  width:100%;
                  height: 100%;
                  text-align: center;
                  }
                }
            }
            
          }
        }
      
    }
    }

    // seminar__section ---------------------------------------------------
    .seminar__section{
      @include section;
      .section__content-wrapper{
        @include wrapper;
        .section__content-box{
          @include box;
          .seminar__title{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom:25px;
            h2{
              text-align: center;
              @include fz(20);
              position: relative;
              color:$deep-dark;
              letter-spacing: 3px;
              position: relative;
              display: inline-block;
              &::after{
                content:"";
                position:absolute;
                top:0;
                left:0;
                width:63px;
                height:30px;
                background:url(../assets/img/icon_08.png) no-repeat;
                background-size: contain;
                transform: translate(0,-30px);
                backface-visibility:visible;
            }
          }
          }
        }
      
    }
    }

    // presents__section ---------------------------------------------------
    .presents__section{
      @include section;
      background:$white;
      .section__content-wrapper{
        @include wrapper;
        .section__content-box{
          @include box;
          .section-title__wrap{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom:40px;
            .section-title__text{
              @include fz(20);
            }
          }
          .presents__list{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            .presents__item{
              width:100%;
              padding-left: 32px;
              padding-right:32px;
              padding-bottom:32px;
              border:2px solid $black;
              border-radius: 6px;
              margin-bottom:20px;
            }
          }
        }
      }
    
      
    }

    // contact__section ---------------------------------------------------
    .contact__section{
      @include section;
      .section__content-wrapper{
        @include wrapper;
        .section__content-box{
          @include box;
          .section-title__wrap{
            h2{
              @include fz(20);
            }
          }
        }
      }
    
      
    }

    // archive-recommend-tag ---------------------------------------------------
    .archive-recommend-tag{
    @include section;
    background:$dark-beige;
    .section__content-wrapper{
      @include wrapper;
      .section__content-box{
        @include box;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .section-title__wrap{
          display: flex;
          justify-content: center;
          align-items: center;
          width:100%;
          margin-bottom:20px;
          .section-title__img{
            z-index: 999;
            max-width:95px;
          }
          .section-title__text{
            @include fz(24);
            position: relative;
            padding-left:0;
            color:$dark;
            letter-spacing: 2px;
          }
        }
        .recommend-tag__list{
          width:90%;
          display: flex;
          flex-wrap: wrap;
          .recommend-tag__item{
            display: flex;
            align-items: center;
            justify-content: center;
            width:45%;
            margin-bottom:12px;
            &:nth-child(-n + 3){
              margin-top:0;
            }
            .article__tag{
              background:$blue;
              border-radius: 100vh;
              z-index: 999;
              .article__tag__link{
                color:$white;
                @include fz(16);
                padding:4px 17px;
                width:100%;
                height: 100%;
                text-align: center;
                }
              }
          }
          
        }
      }
    
  }
    }

    // breadcrumbs ---------------------------------------------------
    .breadcrumbs{
      @include box;
      margin-top:8vw;
    }


      // single-page__wrap ---------------------------------------------------
  .single-page__wrap{
    @include section;
    padding-top:30px !important;
    .section__content-wrapper{
      @include box;
      background:$white;
      display: flex;
      justify-content: center;
      padding:0 5vw;
      padding-top:40px;
      padding-bottom:40px;
      border-radius: 6px;
      .section__content-box{
        max-width: 640px;
        
        .single-page__title{
          margin-bottom:30px;
          .single-page__heading{
            @include fz(24);
          }
        }
        .single-page__info{
          margin-bottom:20px;
          .single-page__info-list{
            display: flex;
            flex-wrap: wrap;
            .single-page__info-item{
              margin-right:28px;
              &:not(:last-child){
                margin-bottom:15px;
              }
              &:hover{
                opacity: 0.7;
              }
              
              .single-page__info-link{
                i{
                  margin-right:8px;
                }
                @include fz(14);
                color:$gray;
              }
            }
          }
        }
        .single-page__caption--01{
          width:100%;
          max-height:250px;
          border-radius: 6px;
          overflow: hidden;
          margin-bottom:20px;
          img{
            width:100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .single-page__intro{
          margin-bottom:50px;
          .single-page__intro-text{
            @include fz(16);
            color:$dark;
          }
        }
        .single-page__sns-list--01{
          padding:25px 0;
          border-top:1px solid $black;
          border-bottom:1px solid $black;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          margin-bottom:30px;
          .sns-list--01-title{
            width:100%;
            text-align: center;
            margin-bottom:20px;
            .sns-list--01-heading{
              @include fz(24);
              color:$dark;
            }
          }
          .sns-list--01-list{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width:100%;
            .sns-list--01-item{
              width:48%;
              border-radius: 100vh;
              padding:4px;
              margin-bottom:15px;
              a{
                display: flex;
                align-items: center;
                .fab{
                  background:$white;
                  display: inline-block;
                  width:30px;
                  height:30px;
                  border-radius: 50%;
                  line-height:30px;
                }
                p{
                  @include fz(14);
                  margin-left:8px;
                  color:$white;
                }
              }
            }
          }
        }
        .single-page__index{
          background:$beige;
          padding:30px;
          margin-bottom:30px;
          .fas{
            color:#29abe2;
          }
          .single-page__index-title{
            display: flex;
            align-items: center;
            margin-bottom:15px;
            .fa-list-ul{
              @include fz(20);
              margin-right:18px;
            }
            .single-page__index-heading{
              @include fz(20);
            }
          }
          .single-page__index-list{
            .single-page__index-item{
              display: flex;
              align-items: center;
              &:not(:last-child){
                margin-bottom:12px;
      
              }
              .fa-caret-right{
                @include fz(16);
                margin-right:14px;
              }
              .single-page__index-text{
                @include fz(16);
      
              }
            }
          }
        }
        .single-page__caption--02{
          width:100%;
          max-height:250px;
          border-radius: 6px;
          overflow: hidden;
          margin-bottom:30px;
          img{
            width:100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .single-page__text-area--01{
          margin-bottom:30px;
          .single-page__text-area--01-heading{
            @include fz(21);
            color:$deep-dark;
            padding-bottom:16px;
            border-bottom:3px solid #29abe2;
            margin-bottom:15px;
          }
          .single-page__text-area--01-text{
            @include fz(16);
            color:$dark;
            line-height:2;
          }
        }
        .single-page__text-area--02{
          margin-bottom:30px;
          .single-page__text-area--02-heading{
            @include fz(18);
            color:$deep-dark;
            padding-left: 14px;
            border-left:3px solid #29abe2;
            margin-bottom:15px;
          }
          .single-page__text-area--02-text{
            @include fz(16);
            color:$dark;
            line-height:2;
          }
        }
        .single-page__sns-list--02{
          .sns-list--02-list{
            display: flex;
            justify-content: space-between;
            padding:0 20px;
            padding-top:15px;
            padding-bottom:15px;
            border-top:1px solid $black;
            border-bottom:1px solid $black;
            .sns-list--02-item{
              a{
                display: flex;
                align-items: center;
                .fab{
                  display: inline-block;
                  width:33px;
                  height:33px;
                  border-radius: 50%;
                  line-height:33px;
                  color:$white;
                  @include fz(20);
                }
              }
            }
          }
        }

      }
    }
  }
  .single-other{
    .single-other__content-box{
      .single-other__title{
       @include section-title;
       h2{
         @include fz(24);
       }
      }
    }
    
  }
}