@charset "UTF-8";
// ============================================================
// サイトの基本設定
// ============================================================

// 幅関係の設定 -----------------------------------------------
$width-base:1200px; //全体
$width-main:1050px; //メインエリアの幅

// フォント関係の設定 -----------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

$mainFont:'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
$roboto:'Roboto', sans-serif;
$notoSansCJK:noto-sans-cjk-jp, sans-serif;

body{
  font-family: $mainFont;
}

// 色関係の設定 -----------------------------------------------
$black:#000;
$deep-dark:#001111;
$dark:#333;
$gray:#888;
$white:#fff; 
$beige:#f6f3ec;
$dark-beige:#f0eee8;
$blue:#29abe2;
$yellow:#ffff00;

// ブレイクポイント -----------------------------------------------
$breakpoints: (
  'xs': (max-width: 575px),
  'sm': (max-width: 768px),
  'md': (min-width: 769px)
) !default;

@mixin responsive($breakpoint){
  @if map-has-key($breakpoints,$breakpoint){
    @media screen and #{inspect(map-get($breakpoints,$breakpoint))}{
      @content;
    }
  }
  // マップ型で定義されていない値が呼び出された時はエラーを返す
  @else{
    @error "指定されたブレークポイントは定義されていません。" + "指定できるブレークポイントは次のとおりです。 -> #{map-keys($breakpoints)}";
  }
}

// フォントサイズの設定 -----------------------------------------------
@mixin fz($size){
  font-size:$size+ px;
  font-size:($size/16)+rem;
}
p{
  @include fz(16);
}

html {
  box-sizing: border-box;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  @include responsive(sm){
    font-size: 92.9%;
  }
  @include responsive(xs){
    font-size: 85.7%;
  }
}

// z-indexの設定 -----------------------------------------------
$layer:(
  header:9999,
  default:1
);

// hamburger-menuの設定 -----------------------------------------------
$hamburger-menu-size: 38px;
$hamburger-menu-bg-color: $black;
$hamburger-menu-line-height: 2px;
$hover-line-height: $hamburger-menu-line-height;
$hover-color: $yellow;
$content-bg-color: $blue;
$main-color: $white;
$anim-duration: .4s;