@charset "UTF-8";
// ============================================================
// フッター
// ============================================================

.footer{
  width: 100%;
  background-color: $white;
  color: #bfbfbf;
  text-align: center;
  padding: 30px 0;
  .footer__inner{
    .footer__logo{
      width:30vw;
      max-width:155px;
      display: block;
      margin:0 auto;
      margin-bottom:20px;
      img{
        width:100%;
      }
    }
    .footer__copyright{
      @include fz(12);
    }
  }
}