@charset "UTF-8";
// ============================================================
// 共通モジュールやパーツ
// ============================================================

// ボタン ---------------------------------------------------
.btn{
  height:auto;
  display: flex;
  align-items: center;
  position: relative;
  font-weight: bold;

  // 形 ------
  .btn-round{
  border-radius: 100vh;
  }
  .btn-square{
    border-radius: 10px;
    &::after{
      content:"";
      position:absolute;
      width:100%;
      height:100%;
      border:2px solid $black;
      z-index:-1;
      bottom:-4px;
      right:-4px;
    }
  }
  
  
  // 大きさ ------
  .btn-small{
    @include fz(12);
    padding:8px 16px;
  }
  .btn-large{
    @include fz(20);
    padding:16.5px 90px;
    @include responsive(sm){
      @include fz(18);
      padding:15px 45px;
    }
  }

  
  // 色 ------
  .btn-none{
    color:$black;
    background:$beige;
    border:2px solid $black;
    position: relative;
    &::after{
      content:"";
      position:absolute;
      width:100%;
      height:100%;
      border:2px solid $black;
      background:$beige;
      border-radius: 10px;
      z-index:-1;
      bottom:-4px;
      right:-4px;
    }
  }
  .btn-light{
    color:$black;
    background:$white;
    border:2px solid $black;
    position: relative;
    
    &::after{
      content:"";
      position:absolute;
      width:100%;
      height:100%;
      border:2px solid $black;
      border-radius: 100vh;
      z-index:-1;
      bottom:-4px;
      right:-4px;
    }
  }
  .btn-dark{
    color:$white;
    background:$black;
    border:2px solid $black;
    position: relative;
    transition: ease-in-out 0.5s;
    &:hover{
      background:$yellow;
      color:$black;
    }
  }
  .btn-yellow{
    color: $black;
    background:$yellow;
    border:4px solid $black;
    position: relative;
    -webkit-transition:ease-in-out 0.15s;
    transition:ease-in-out 0.15s;
    text-align: center;
    &:hover{
      letter-spacing: 1px;
      top:2px;
      padding-left: 85px;
      padding-right: 85px;
      @include responsive(sm){
        padding-left: 40px;
        padding-right: 40px;

      }
      &::after{
        top:0;
      }
    }
    &::after{
      content:"";
      position:absolute;
      background:$yellow;
      width:100%;
      height:100%;
      border:4px solid $black;
      border-radius: 100vh;
      z-index:-1;
      bottom:-6px;
      right:-5px;
    }
    
  }
  
 
  
}





