@charset "UTF-8";
// ============================================================
// アーカイブページレイアウト
// ============================================================

// breadcrumbs ---------------------------------------------------
.breadcrumbs{
  @include box;
  margin-top:14px;
  .breadcrumbs__list{
    display: flex;
    justify-content: flex-start;
    position: relative;
  }
  .breadcrumbs-list__link{
    @include fz(12);
    color:#757780;
    
  }
}

// archive-page__title ---------------------------------------------------
.archive-page__title{
  padding-top:70px;
  .archive-page__heading{
    text-align: center;
    @include fz(30);
    letter-spacing: 2px;
  }
}

// archive-recommend-tag ---------------------------------------------------
.archive-recommend-tag{
  @include section;
  padding-bottom:0;
  .section__content-wrapper{
    @include wrapper;
    max-width: $width-main;
    background:$dark-beige;
    .section__content-box{
      @include box;
      max-width:833px;
      padding-top:40px;
      padding-bottom:40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .section-title__wrap{
        display: flex;
        align-items: center;
        width:35%;
        .section-title__img{
          z-index: 999;
          max-width:95px;
        }
        .section-title__text{
          @include fz(24);
          position: relative;
          padding-left:10px;
          color:$dark;
          letter-spacing: 2px;
        }
      }
      .recommend-tag__list{
        width:65%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .recommend-tag__item{
          display: flex;
          align-items: center;
          justify-content: center;
          width:33.3%;
          margin-bottom:12px;
          &:nth-child(-n + 3){
            margin-top:12px;
          }
          .article__tag{
            z-index: 999;
            .article__tag__link{
              border-radius: 100vh;
              background:$blue;
              color:$white;
              transition:ease-in-out 0.5s;
              &:hover{
                background:$yellow;
                color:$black;
              }
              @include fz(16);
              padding:4px 17px;
              width:100%;
              height: 100%;
              text-align: center;
              
              }
            }
        }
        
      }
    }
  
}
}

// archive-category ---------------------------------------------------
.archive-category{
  @include section;
  .archive-category__content-wrapper{
    @include wrapper;
  }
  .archive-category__content-box{
    @include box;
  }
  .archive-category__title{
   @include section-title;
   img{
     width:102px;
     margin-bottom:-15px;
   }
  }
  .archive-category__article{
    .archive-category__article-list{
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
    .archive-category__article-item{
      position:relative;
      width: calc((100% - 90px) / 3);
      border-radius:6px;
      background:$white;
      box-shadow: 8px 8px #97907e30;
      margin-bottom:40px;
      &:not(:nth-child(3n)){
        margin-right:45px;
      }
      .archive-category__article-caption{
        border-radius: 6px 6px 0 0;
        overflow: hidden;
        img{
          width:100%;
          height: 200px;
          object-fit: cover;
        }
      }
      .archive-category__article-text{
        position: relative;
        padding-left:30px; 
        padding-right:34px;
        padding-top:30px;
        padding-bottom:32px;
        .article-tag{
          display: inline-block;
          position: absolute;
          top:0;
          left:0;
          transform: translate(30px,-50%);
          z-index: 999;
          a{
            background:$blue;
            border-radius: 100vh;
            color:$white;
            @include fz(12);
            padding:8px 21px;
            transition: ease-in-out 0.5s;
            &:hover{
              background:$yellow;
              color:$black;
            }
          }
        }
        .article-title{
          position: relative;
          margin-bottom:20px;
          a{
            color:$dark;
            @include fz(16);
            font-weight: bold;
            line-height: 2;
          }
        }
        .article-content{
          margin-bottom:40px;
          a{
            color:$dark;
            @include fz(14);
            font-weight: normal;
            line-height: 2;
          }
        }
        .article-date{
          display: flex;
          justify-content: flex-end;
          a{
            @include fz(14);
            color:$gray;
            .fa-clock{
              margin-right:9px;
            }
          }
        }
        
      }
    }
    .article__new-icon{
      &::after{
        content:"";
        position: absolute;
        background:url(../assets/img/icon_07.png);
        background-size: cover;
        width:58px;
        height:58px;
        top:0;
        right:0;
        transform: translate(30%,-30%);
        z-index: 999;
      }
    }
  }
  .archive-category__more-btn{
    display: flex;
    justify-content: center;
  }
  
}

// index-popular ---------------------------------------------------
.archive-other{
  @include section;
  background:$white;
  .archive-other__content-wrapper{
    @include wrapper;
  }
  .archive-other__content-box{
    @include box;
    .archive-other__row{
      &:not(:last-child){
        margin-bottom:100px;
      }
    }
    .archive-other__row:nth-child(1){
      .title-img{
        width:132px;
        margin-left:-20px;
        margin-bottom:-15px;
      }
    }
    .archive-other__row:nth-child(2){
      .title-img{
        width:92px;
        margin-left:-20px;
        margin-bottom:-15px;
      }
    }
    .archive-other__row:nth-child(3){
      .title-img{
        width:127px;
        margin-left:-20px;
        margin-bottom:-15px;
      }
    }
    .archive-other__row:nth-child(4){
      .title-img{
        width:106px;
        margin-left:-20px;
        margin-bottom:-15px;
      }
    }
    .archive-other__title{
     @include section-title;
    }
    .archive-other__article{
      .archive-other__article-list{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
       
      }
      .index-popular__article-item{
        width: calc((100% - 120px) / 4);
        position:relative;
        &:not(:last-child){
          margin-right:40px;
        }
        .index-popular__article-caption{
          border-radius: 6px;
          overflow: hidden;
          display: flex;
          flex-wrap: wrap;
          width:100%;
          box-shadow: 8px 8px #97907e30;
          margin-bottom:20px;
          a{
            width:100%;
            position: relative;
            img{
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
        .index-popular__article-text{
          .article-tag{
            display: none;
          }
          .article-content{
            display: none;
          }
          .article-title{
            position: relative;
            margin-bottom:18px;
            a{
              color:$dark;
            @include fz(16);
            font-weight: bold;
            line-height: 2;
            }
          }
          .article-date{
            display: flex;
            justify-content: flex-end;
            a{
              @include fz(14);
              color:$gray;
              .fa-clock{
                margin-right:9px;
              }
  
            }
          }
          
        }
      }
      .article__new-icon{
        &::after{
          content:"";
          position: absolute;
          background:url(../assets/img/icon_07.png);
          background-size: cover;
          width:58px;
          height:58px;
          top:0;
          right:0;
          transform: translate(30%,-30%);
          z-index: 999;
        }
      }
    }
  }
  
}


// link-btn__section--light ---------------------------------------------------
.link-btn__section--light{
  @include section;
  padding-top:80px;
  padding-bottom:80px;
  background:$dark-beige;
  .link-btn__list{
    @include box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .link-btn__item{
      position: relative;
      &:nth-child(1){
        margin-right:50px;
        margin-bottom:20px;
        a{
          img{
            width:100%;
            max-width:320px;
          }
          .link_btn--hover{
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            transition: 0.5s;
          }
        }
        a:hover{
          .link_btn--hover{
            opacity: 1;
          }
        }
      }
      
      &:nth-child(2){
        a{
          img{
            width:100%;
            max-width:320px;
          }
          .link_btn--hover{
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            transition: 0.5s;
          }
        }
        a:hover{
          .link_btn--hover{
            opacity: 1;
          }
        }
      }
    }
   
  }
}


