@charset "UTF-8";
// ============================================================
// アーカイブページレイアウト
// ============================================================

// single-page__wrap ---------------------------------------------------
.single-page__wrap{
  @include section;
  padding-top:45px;
  padding-bottom:0;
  .section__content-wrapper{
    @include box;
    background:$white;
    display: flex;
    justify-content: center;
    padding:0 40px;
    padding-top:80px;
    padding-bottom:80px;
    border-radius: 6px;
    .section__content-box{
      max-width: 640px;
      
      .single-page__title{
        margin-bottom:30px;
        .single-page__heading{
          @include fz(28.8);
        }
      }
      .single-page__info{
        margin-bottom:38px;
        .single-page__info-list{
          display: flex;
          .single-page__info-item{
            margin-right:28px;
            &:hover{
              opacity: 0.7;
            }
            
            .single-page__info-link{
              i{
                margin-right:8px;
              }
              @include fz(14);
              color:$gray;
            }
          }
        }
      }
      .single-page__caption--01{
        width:100%;
        height:400px;
        border-radius: 6px;
        overflow: hidden;
        margin-bottom:38px;
        img{
          width:100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .single-page__intro{
        margin-bottom:50px;
        .single-page__intro-text{
          @include fz(16);
          color:$dark;
          line-height: 1.8;
        }
      }
      .single-page__sns-list--01{
        padding:25px 0;
        border-top:1px solid $black;
        border-bottom:1px solid $black;
        display: flex;
        align-items: center;
        margin-bottom:50px;
        .sns-list--01-title{
          width:25%;
          .sns-list--01-heading{
            @include fz(24);
            color:$dark;
          }
        }
        .sns-list--01-list{
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-end;
          width:75%;
          .sns-list--01-item{
            width:calc((100% - 40px)/3);
            border-radius: 100vh;
            padding:4px;
            &:not(:nth-child(n+4)){
              margin-bottom:12px;
            }
            &:not(:nth-child(3n)){
              margin-right:20px;
            }
            a{
              display: flex;
              align-items: center;
              .fab{
                background:$white;
                display: inline-block;
                width:30px;
                height:30px;
                border-radius: 50%;
                line-height:30px;
              }
              p{
                margin-left:8px;
                color:$white;
              }
            }
          }
        }
      }
      .single-page__index{
        background:$beige;
        padding:40px;
        margin-bottom:50px;
        .fas{
          color:#29abe2;
        }
        .single-page__index-title{
          display: flex;
          align-items: center;
          margin-bottom:25px;
          .fa-list-ul{
            @include fz(19.2);
            margin-right:18px;
          }
          .single-page__index-heading{
            @include fz(19.2);
          }
        }
        .single-page__index-list{
          .single-page__index-item{
            display: flex;
            align-items: center;
            &:not(:last-child){
              margin-bottom:15px;
    
            }
            .fa-caret-right{
              @include fz(15);
              margin-right:14px;
            }
            .single-page__index-text{
              @include fz(15);
    
            }
          }
        }
      }
      .single-page__caption--02{
        width:100%;
        height:400px;
        border-radius: 6px;
        overflow: hidden;
        margin-bottom:50px;
        img{
          width:100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .single-page__text-area--01{
        margin-bottom:50px;
        .single-page__text-area--01-heading{
          @include fz(24);
          color:$deep-dark;
          padding-bottom:16px;
          border-bottom:3px solid #29abe2;
          margin-bottom:20px;
        }
        .single-page__text-area--01-text{
          @include fz(16);
          color:$dark;
          line-height:1.8;
        }
      }
      .single-page__text-area--02{
        margin-bottom:50px;
        .single-page__text-area--02-heading{
          @include fz(19.2);
          color:$deep-dark;
          padding-left: 14px;
          border-left:3px solid #29abe2;
          margin-bottom:20px;
        }
        .single-page__text-area--02-text{
          @include fz(16);
          color:$dark;
          line-height:1.8;
        }
      }
      .single-page__sns-list--02{
        .sns-list--02-list{
          display: flex;
          justify-content: space-between;
          padding:0 50px;
          padding-top:30px;
          padding-bottom:30px;
          border-top:1px solid $black;
          border-bottom:1px solid $black;
          .sns-list--02-item{
            a{
              display: flex;
              align-items: center;
              .fab{
                display: inline-block;
                width:33px;
                height:33px;
                border-radius: 50%;
                line-height:33px;
                color:$white;
                @include fz(20);
              }
            }
          }
        }
      }

    }
  }
}
// link-btn__section--none ---------------------------------------------------
.link-btn__section--none{
  @include section;
  padding-top:70px;
  padding-bottom:80px;
  .link-btn__list{
    @include box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .link-btn__item{
      position: relative;
      &:nth-child(1){
        margin-right:50px;
        a{
          img{
            width:100%;
            max-width:320px;
            transition: 0.5s;
          }
          .link_btn--hover{
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
          }
        }
        a:hover{
          .link_btn--hover{
            opacity: 1;
          }
          .link_btn{
            opacity: 0;
          }
        }
      }
      
      &:nth-child(2){
        a{
          img{
            width:100%;
            max-width:320px;
          }
          .link_btn--hover{
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            transition: 0.5s;
          }
        }
        a:hover{
          .link_btn--hover{
            opacity: 1;
          }
        }
      }
    }
   
  }
}

// single-other ---------------------------------------------------
.single-other{
  @include section;
  background:$white;
  .single-other__content-wrapper{
    @include wrapper;
  }
  .single-other__content-box{
    @include box;
    .single-other__row{
      &:not(:last-child){
        margin-bottom:50px;
      }
    }
    .single-other__row:nth-child(1){
      .title-img{
        width:101px;
        margin-left:-20px;
        margin-bottom:-15px;
      }
    }
    .single-other__row:nth-child(2){
      .title-img{
        width:132px;
        margin-left:-20px;
        margin-bottom:-15px;
      }
    }
    .single-other__row:nth-child(3){
      .title-img{
        width:101px;
        margin-left:-20px;
        margin-bottom:-15px;
      }
    }
    .single-other__row:nth-child(4){
      .title-img{
        width:106px;
        margin-left:-20px;
        margin-bottom:-15px;
      }
    }
    .single-other__row:nth-child(5){
      .title-img{
        width:101px;
        margin-left:-20px;
        margin-bottom:-15px;
      }
    }
    .single-other__title{
     @include section-title;
     h2{
       @include fz(24);
     }
    }
    .single-other__article{
      .single-other__article-list{
        display: flex;
        
        flex-wrap: wrap;
        flex-direction: row;
       
      }
      .index-popular__article-item{
        width: calc((100% - 50px) / 2);
        position:relative;
        display: flex;
        &:not(:nth-child(2n)){
          margin-right:50px;
        }
        .index-popular__article-caption{
          border-radius: 6px;
          overflow: hidden;
          display: flex;
          flex-wrap: wrap;
          width:30%;
          box-shadow: 8px 8px #97907e30;
          a{
            width:100%;
            position: relative;
            img{
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
        .index-popular__article-text{
          width:70%;
          padding-left:30px;
          display: flex;
          flex-direction: column;
          .article-tag{
            display: none;
          }
          .article-title{
            position: relative;
            margin-bottom:8px;
            a{
              color:$dark;
            @include fz(20);
            font-weight: bold;
            line-height: 1.5;
            }
          }
          .article-content{
            margin-bottom: 10px;
            max-height: 60px;
            overflow: hidden;
            a{
              color:$deep-dark;
              line-height: 1.8;
            }
          }
          .article-date{
            display: flex;
            justify-content: flex-end;
            
            margin-top:auto;
            a{
              @include fz(14);
              color:$gray;
              .fa-clock{
                margin-right:9px;
              }
  
            }
          }
          
        }
      }
      .article__new-icon{
        &::after{
          content:"";
          position: absolute;
          background:url(../assets/img/icon_07.png);
          background-size: cover;
          width:58px;
          height:58px;
          top:0;
          right:0;
          transform: translate(30%,-30%);
          z-index: 999;
        }
      }
    }
  }
  
}

.fa-hatena {
  &:before {
      content: "B!";
      font-family: Verdana;
      font-weight: bold;
  }
}

.face-book-color{
  color:#1877f2;

}
.twitter-color{
  color:#1d95df;
}
.pocket-color{
  color:#ee364c;
}
.hatena-color{
  color:#00a4de;
}
.line-color{
  color:#04b833;
}

.face-book-bgcolor{
  background:#1877f2;
  &:hover{
    opacity: 0.7;
  }
  a{
    &:hover{
      opacity: 0.7;
    }
  }
}
.twitter-bgcolor{
  background:#1d95df;
  &:hover{
    opacity: 0.7;
  }
  a{
    &:hover{
      opacity: 0.7;
    }
  }
}
.pocket-bgcolor{
  background:#ee364c;
  &:hover{
    opacity: 0.7;
  }
  a{
    &:hover{
      opacity: 0.7;
    }
  }
}
.hatena-bgcolor{
  background:#00a4de;
  &:hover{
    opacity: 0.7;
  }
  a{
    &:hover{
      opacity: 0.7;
    }
  }
}
.line-bgcolor{
  background:#04b833;
  &:hover{
    opacity: 0.7;
  }
  a{
    &:hover{
      opacity: 0.7;
    }
  }
}

