@charset "UTF-8";
// ============================================================
// トップページレイアウト
// ============================================================

// index-new ---------------------------------------------------
.index-new{
  @include section;
  .index-new__content-wrapper{
    @include wrapper;
  }
  .index-new__content-box{
    @include box;
  }
  .index-new__title{
   @include section-title;
   img{
     width:95px;
   }
  }
  .index-new__article--md{
    margin-bottom:40px;
    .index-new__article-list{
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
    .index-new__article-item:first-child{
      width:100%;
      margin-bottom:50px;
      display: flex;
      flex-direction: row;
      position: relative;
      .index-new__article-caption{
        width:calc((50% + 25px));
        border-radius: 6px;
        margin-bottom:20px;
        margin-top:-20px;
        a{
          border-radius: 6px;
          overflow: hidden;
          box-shadow:0 4px 7px rgba(0,0,0,0.1);
        }
        img{
          width:100%;
          border-radius: 6px;
        }
      }
      .index-new__article-text{
        width:calc((50% + 25px));
        margin-left: -30px;
        background:$white;
        box-shadow:8px 8px  #97907e30;
        border-radius: 6px;
        padding-left:30px; 
        padding-right:34px;
        padding-top:50px;
        padding-bottom:54px;
        z-index: 999;
        position: relative;
        .article-tag{
          display: inline-block;
          margin-bottom:20px;
          a{
            border-radius: 100vh;
            background:$blue;
            color:$white;
            @include fz(12);
            padding:8px 21px;
            transition: ease-in-out 0.5s;
            &:hover{
              background:$yellow;
              color:$black;
            }
          }
        }
        .article-title{
          position: relative;
          margin-bottom:30px;
          a{
            color:$dark;
            @include fz(20);
            font-weight: bold;
            line-height: 2;
          }
        }
        .article-content{
          margin-bottom:45px;
          a{
            color:$dark;
            @include fz(14);
            font-weight: normal;
            line-height: 2;
          }
        }
        .article-date{
          display: flex;
          justify-content: flex-end;
          a{
            @include fz(14);
            color:$gray;
            .fa-clock{
              margin-right:9px;
            }
          }
        }
      }
      
    }
    .index-new__article-item:not(:first-child){
      position:relative;
      width: calc((100% - 90px) / 3);
      border-radius:6px;
      background:$white;
      box-shadow: 8px 8px #97907e30;
      &:not(:last-child),&:not(:nth-child(3n+1)){
        margin-right:45px;
      }
      .index-new__article-caption{
        border-radius: 6px 6px 0 0;
        overflow: hidden;
        img{
          width:100%;
          height: 200px;
          object-fit: cover;
        }
      }
      .index-new__article-text{
        position: relative;
        padding-left:30px; 
        padding-right:34px;
        padding-top:30px;
        padding-bottom:32px;
        .article-tag{
          display: inline-block;
          position: absolute;
          top:0;
          left:0;
          transform: translate(30px,-50%);
          z-index: 999;
          a{
            background:$blue;
            border-radius: 100vh;
            color:$white;
            @include fz(12);
            padding:8px 21px;
            transition: ease-in-out 0.5s;
            &:hover{
              background:$yellow;
              color:$black;
            }
          }
        }
        .article-title{
          position: relative;
          margin-bottom:20px;
          a{
            color:$dark;
            @include fz(16);
            font-weight: bold;
            line-height: 2;
          }
        }
        .article-content{
          margin-bottom:40px;
          a{
            color:$dark;
            @include fz(14);
            font-weight: normal;
            line-height: 2;
          }
        }
        .article-date{
          display: flex;
          justify-content: flex-end;
          a{
            @include fz(14);
            color:$gray;
            .fa-clock{
              margin-right:9px;
            }
          }
        }
        
      }
    }
    .article__new-icon{
      &::after{
        content:"";
        position: absolute;
        background:url(../assets/img/icon_07.png);
        background-size: cover;
        width:58px;
        height:58px;
        top:0;
        right:0;
        transform: translate(30%,-30%);
        z-index: 999;
      }
    }
  }
  .index-new__more-btn{
    display: flex;
    justify-content: center;
  }
  
}

// recommend-tag__section ---------------------------------------------------
.recommend-tag__section{
  @include section;
  padding-top:80px;
  padding-bottom:80px;
  background:$dark-beige;
  .section__content-wrapper{
    @include wrapper;
    .section__content-box{
      @include box;
      max-width: 833px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .section-title__wrap{
        display: flex;
        align-items: center;
        width:35%;
        .section-title__img{
          z-index: 999;
          max-width:95px;
        }
        .section-title__text{
          @include fz(24);
          position: relative;
          padding-left:10px;
          color:$dark;
          letter-spacing: 2px;
        }
      }
      .recommend-tag__list{
        width:65%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .recommend-tag__item{
          display: flex;
          align-items: center;
          justify-content: center;
          width:33.3%;
          margin-bottom:12px;
          &:nth-child(-n + 3){
            margin-top:12px;
          }
          .article__tag{
            z-index: 999;
            .article__tag__link{
              border-radius: 100vh;
              background:$blue;
              color:$white;
              transition:ease-in-out 0.5s;
              &:hover{
                background:$yellow;
                color:$black;
              }
              @include fz(16);
              padding:4px 17px;
              width:100%;
              height: 100%;
              text-align: center;
              
              }
            }
        }
        
      }
    }
  
}
}

// index-popular ---------------------------------------------------
.index-popular{
  @include section;
  .index-popular__content-wrapper{
    @include wrapper;
  }
  .index-popular__content-box{
    @include box;
  }
  .index-popular__title{
   @include section-title;
   img{
     width:144px;
     margin-left: -30px;
   }
  }
  .index-popular__article{
    margin-bottom:40px;
    .index-popular__article-list{
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
    .index-popular__article-item:first-child{
      width:100%;
      margin-bottom:50px;
      display: flex;
      flex-direction: row;
      position: relative;
      .index-popular__article-caption{
        width:calc((50% + 25px));
        margin-bottom:20px;
        margin-top:-20px;
        a{
          border-radius: 6px;
          overflow: hidden;
          box-shadow:0 4px 7px rgba(0,0,0,0.1);
        }
        img{
          width:100%;
          border-radius: 6px;
        }
      }
      .index-popular__article-text{
        width:calc((50% + 25px));
        margin-left: -30px;
        background:$white;
        box-shadow:8px 8px  #97907e30;
        border-radius: 6px;
        padding-left:30px; 
        padding-right:34px;
        padding-top:50px;
        padding-bottom:54px;
        z-index: 999;
        position: relative;
        .article-tag{
          display: inline-block;
          margin-bottom:20px;
          a{
            background:$blue;
            border-radius: 100vh;
            color:$white;
            @include fz(12);
            padding:8px 21px;
            transition: ease-in-out 0.5s;
            &:hover{
              background:$yellow;
              color:$black;
            }
          }
        }
        .article-title{
          position: relative;
          margin-bottom:30px;
          a{
            color:$dark;
            @include fz(20);
            font-weight: bold;
            line-height: 2;
          }
        }
        .article-content{
          margin-bottom:45px;
          a{
            color:$dark;
            @include fz(14);
            font-weight: normal;
            line-height: 2;
          }
        }
        .article-date{
          display: flex;
          justify-content: flex-end;
          a{
            @include fz(14);
            color:$gray;
            .fa-clock{
              margin-right:9px;
            }
          }
        }
      }
      
    }
    .index-popular__article-item:not(:first-child){
      position:relative;
      width: calc((100% - 90px) / 3);
      border-radius:6px;
      background:$white;
      box-shadow: 8px 8px #97907e30;
      &:not(:last-child),&:not(:nth-child(3n+1)){
        margin-right:45px;
      }
      .index-popular__article-caption{
        border-radius: 6px 6px 0 0;
        overflow: hidden;
        img{
          width:100%;
          height: 200px;
          object-fit: cover;
        }
      }
      .index-popular__article-text{
        position: relative;
        padding-left:30px; 
        padding-right:34px;
        padding-top:30px;
        padding-bottom:32px;
        .article-tag{
          display: inline-block;
          position: absolute;
          top:0;
          left:0;
          transform: translate(30px,-50%);
          z-index: 999;
          a{
            background:$blue;
            border-radius: 100vh;
            color:$white;
            @include fz(12);
            padding:8px 21px;
            transition: ease-in-out 0.5s;
            &:hover{
              background:$yellow;
              color:$black;
            }
          }
        }
        .article-title{
          position: relative;
          margin-bottom:20px;
          a{
            color:$dark;
            @include fz(16);
            font-weight: bold;
            line-height: 2;
          }
        }
        .article-content{
          margin-bottom:40px;
          a{
            color:$dark;
            @include fz(14);
            font-weight: normal;
            line-height: 2;
          }
        }
        .article-date{
          display: flex;
          justify-content: flex-end;
          a{
            @include fz(14);
            color:$gray;
            .fa-clock{
              margin-right:9px;
            }
          }
        }
        
      }
    }
    .article__new-icon{
      &::after{
        content:"";
        position: absolute;
        background:url(../assets/img/icon_07.png);
        background-size: cover;
        width:58px;
        height:58px;
        top:0;
        right:0;
        transform: translate(30%,-30%);
        z-index: 999;
      }
    }
  }
  .index-popular__more-btn{
    display: flex;
    justify-content: center;
  }
  
}

// index-interview ---------------------------------------------------
.index-interview{
  @include section;
  padding-top:0;
  .index-interview__content-wrapper{
    @include wrapper;
  }
  .index-interview__content-box{
    @include box;
  }
  .index-interview__title{
   @include section-title;
   img{
     width:144px;
     margin-left: -30px;
   }
  }
  .index-interview__article{
    margin-bottom:40px;
    .index-interview__article-list{
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
    .index-interview__article-item:first-child{
      width:100%;
      margin-bottom:50px;
      display: flex;
      flex-direction: row;
      position: relative;
      .index-interview__article-caption{
        width:calc((50% + 25px));
        margin-bottom:20px;
        margin-top:-20px;
        a{
          border-radius: 6px;
          overflow: hidden;
          box-shadow:0 4px 7px rgba(0,0,0,0.1);
        }
        img{
          width:100%;
          border-radius: 6px;
        }
      }
      .index-interview__article-text{
        width:calc((50% + 25px));
        margin-left: -30px;
        background:$white;
        box-shadow:8px 8px  #97907e30;
        border-radius: 6px;
        padding-left:30px; 
        padding-right:34px;
        padding-top:50px;
        padding-bottom:54px;
        z-index: 999;
        position: relative;
        .article-tag{
          display: inline-block;
          margin-bottom:20px;
          a{
            background:$blue;
            border-radius: 100vh;
            color:$white;
            @include fz(12);
            padding:8px 21px;
            transition: ease-in-out 0.5s;
            &:hover{
              background:$yellow;
              color:$black;
            }
          }
        }
        .article-title{
          position: relative;
          margin-bottom:30px;
          a{
            color:$dark;
            @include fz(20);
            font-weight: bold;
            line-height: 2;
          }
        }
        .article-content{
          margin-bottom:45px;
          a{
            color:$dark;
            @include fz(14);
            font-weight: normal;
            line-height: 2;
          }
        }
        .article-date{
          display: flex;
          justify-content: flex-end;
          a{
            @include fz(14);
            color:$gray;
            .fa-clock{
              margin-right:9px;
            }
          }
        }
      }
      
    }
    .index-interview__article-item:not(:first-child){
      position:relative;
      width: calc((100% - 90px) / 3);
      border-radius:6px;
      background:$white;
      box-shadow: 8px 8px #97907e30;
      &:not(:last-child),&:not(:nth-child(3n+1)){
        margin-right:45px;
      }
      .index-interview__article-caption{
        border-radius: 6px 6px 0 0;
        overflow: hidden;
        img{
          width:100%;
          height: 200px;
          object-fit: cover;
        }
      }
      .index-interview__article-text{
        position: relative;
        padding-left:30px; 
        padding-right:34px;
        padding-top:30px;
        padding-bottom:32px;
        .article-tag{
          display: inline-block;
          position: absolute;
          top:0;
          left:0;
          transform: translate(30px,-50%);
          z-index: 999;
          a{
            background:$blue;
            border-radius: 100vh;
            color:$white;
            @include fz(12);
            padding:8px 21px;
            transition: ease-in-out 0.5s;
            &:hover{
              background:$yellow;
              color:$black;
            }
          }
        }
        .article-title{
          position: relative;
          margin-bottom:20px;
          a{
            color:$dark;
            @include fz(16);
            font-weight: bold;
            line-height: 2;
          }
        }
        .article-content{
          margin-bottom:40px;
          a{
            color:$dark;
            @include fz(14);
            font-weight: normal;
            line-height: 2;
          }
        }
        .article-date{
          display: flex;
          justify-content: flex-end;
          a{
            @include fz(14);
            color:$gray;
            .fa-clock{
              margin-right:9px;
            }
          }
        }
        
      }
    }
    .article__new-icon{
      &::after{
        content:"";
        position: absolute;
        background:url(../assets/img/icon_07.png);
        background-size: cover;
        width:58px;
        height:58px;
        top:0;
        right:0;
        transform: translate(30%,-30%);
        z-index: 999;
      }
    }
  }
  .index-interview__more-btn{
    display: flex;
    justify-content: center;
  }
  
}

// link-btn__section ---------------------------------------------------
.link-btn__section{
  @include section;
  padding-top:80px;
  padding-bottom:80px;
  background:$dark-beige;
  .link-btn__list{
    @include box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .link-btn__item{
      position: relative;
      &:nth-child(1){
        margin-right:50px;
        a{
          img{
            width:100%;
            max-width:320px;
            transition: 0.5s;
          }
          .link_btn--hover{
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
          }
        }
        a:hover{
          .link_btn--hover{
            opacity: 1;
          }
          .link_btn{
            opacity: 0;
          }
        }
      }
      
      &:nth-child(2){
        a{
          img{
            width:100%;
            max-width:320px;
            transition: 0.5s;
          }
          .link_btn--hover{
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
          }
        }
        a:hover{
          .link_btn--hover{
            opacity: 1;
          }
          .link_btn{
            opacity: 0;
          }
        }
      }
    }
   
  }
}

// seminar__section ---------------------------------------------------
.seminar__section{
  @include section;
  padding-top:150px;
  .section__content-wrapper{
    @include wrapper;
    .section__content-box{
      @include box;
      .seminar__title{
        display: flex;
        align-items: center;
        justify-content: center;
        h2{
          @include fz(28);
          position: relative;
          color:$deep-dark;
          letter-spacing: 3px;
          position: relative;
          display: inline-block;
          &::after{
            content:"";
            position:absolute;
            top:0;
            left:0;
            width:95px;
            height:50px;
            background:url(../assets/img/icon_08.png) no-repeat;
            background-size: contain;
            transform: translate(-30px,-50px);
        }
      }
      }
      .seminar__image{
        display: flex;
        justify-content: center;
        margin-bottom:50px;
        transform: translateX(20px);
        height: auto;
        .seminar__frame{
          width:900px;
          align-self: flex-start; 
          position: relative;
        }
        .inpic-list{
          position: absolute;
          top:57%;
          margin:0 auto;
          margin-left:-55px;
          display: flex;
          justify-content: space-between;
          .inpic-item{
            width:8.5vw;
            max-width: 88px;
            height:8.5vw;
            max-height: 88px;
            overflow: hidden;
            border-radius: 100vh;
            background:#f2f0eb;
            &:not(:last-child){
              margin-right:16px;
            }
            img{
              width:100%;
              object-fit:cover;
            }
          }
        }
      }
      .seminar__time-table-list{
        display: flex;
        justify-content: space-between;
        margin-bottom:35px;
        padding: 0 100px;
        .seminar__time-table-item{
          width: calc((100% - 60px)/4);
          
          a{
            width:100%;
            font-family: $notoSansCJK;
            @include fz(22);
            padding: 20px 0;
            text-align: center;
            &:hover{
              top:2px;
              &::after{
                display: none;
              }
            }
          }
        }
      }
      .seminar__more-btn{
        display: flex;
        justify-content: center;
      }
    }
  
}
}

// presents__section ---------------------------------------------------
.presents__section{
  @include section;
  background:$white;
  .section__content-wrapper{
    @include wrapper;
    .section__content-box{
      @include box;
      .section-title__wrap{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom:40px;
        .section-title__text{
          @include fz(28);
          position: relative;
          color:$deep-dark;
          letter-spacing: 2px;
          position: relative;
          display: inline-block;
          font-family: $notoSansCJK;
          span{
            position: relative;
            &:first-child{
              &::before{
                content: '';
                position: absolute;
                top: 100%;
                left:-40px;
                display: inline-block;
                width: 16px;
                height: 2px;
                background-color: $black;
                -webkit-transform: rotate(-30deg);
                transform: rotate(-30deg);
              }
              &::after{
                content: '';
                position: absolute;
                top: 0;
                left:-40px;
                display: inline-block;
                width: 16px;
                height: 2px;
                background-color: $black;
                -webkit-transform: rotate(30deg);
                transform: rotate(30deg);
              }
            }
            &:last-child{
              &::before{
                content: '';
                position: absolute;
                top: 100%;
                right:-40px;
                display: inline-block;
                width: 16px;
                height: 2px;
                background-color: $black;
                -webkit-transform: rotate(30deg);
                transform: rotate(30deg);
              }
              &::after{
                content: '';
                position: absolute;
                top: 0;
                right:-40px;
                display: inline-block;
                width: 16px;
                height: 2px;
                background-color: $black;
                -webkit-transform: rotate(-30deg);
                transform: rotate(-30deg);
              }
            }
          }
          
        }
      }
      .presents__list{
        display: flex;
        justify-content: space-between;
        .presents__item{
          width:calc((100% - 90px)/3);
          padding-left: 32px;
          padding-right:32px;
          padding-bottom:32px;
          border:2px solid $black;
          border-radius: 6px;
          
        }
        .presents__image-box{
          display: flex;
          justify-content: center;
          padding-top:66px;
          padding-bottom:40px;
          img{
            max-height:120px;
          }
        }
        .presents__text-box{
          p{
            @include fz(16);
            line-height: 2;
            color:$dark;
            
          }
        }
      }
    }
  }
 
  
}

// contact__section ---------------------------------------------------
.contact__section{
  @include section;
  .section__content-wrapper{
    @include wrapper;
    .section__content-box{
      @include box;
      max-width:768px;
      position: relative;
      .section-title__wrap{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom:40px;
        h2{
          @include fz(28);
          position: relative;
          color:$deep-dark;
          letter-spacing: 3px;
          position: relative;
          display: inline-block;
        }
      }
      .section__backimg-list{
        display: flex;
        li:nth-child(1){
          position: absolute;
          top:30%;
          left:0;
          
          img{
            width:150px;
            
          }
        }
        li:nth-child(2){
          position: absolute;
          top:30%;
          right:0;
          img{
            width:150px;
            
          }
        }
      }
      .contact__text-box{
        position: relative;
        margin-bottom:40px;
        
        p{
          @include fz(14);
          text-align: center;
          color:$dark;
          line-height: 2;
        }
      }
      .btn-contact{
        display: flex;
        justify-content: center;
        .btn{
          a{
            padding-left: 110px;
            padding-right: 110px;
          }
        }
      }
    }
  }
 
  
}
